project:
  type: website
  output-dir: docs

website:
  title: "GI Pricing Model"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - eda.qmd

execute: 
  freeze: auto

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



